/* Main Carousel */
.carousel {
    overflow: hidden;
    position: relative;
    max-width: 100%;
}

.carousel:focus {
    outline: none;
}

/* Progress Bar */
.carousel-progress {
    width: 99.5%;
    height: 5px;
    border: 0.1px solid #BFBEBE;
    background-color: #BFBEBE;
    border-radius: 10px 10px 10px 10px;
}

.carousel-bar {
    width: 0%;
    height: 5px;
    background-color: green;
    border-radius: 10px 10px 10px 10px;
    transform-origin: left;
}

/* Slides Container */
.carousel-slides {
    display: flex;
}

.carousel-slide {
    display: flex;
    align-items: center;
}

.carousel-slide img {
    margin: auto;
}

.carousel-slide div {
    margin: auto;
}

/* Navigation Buttons */
.carousel-buttons {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    pointer-events: none;
}

.carousel-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    pointer-events: all;
}

.carousel-button:focus {
    border: none;
}

.carousel-button:disabled {
    cursor: not-allowed;
}

/* Pagination */
.carousel-pagination {
    position: absolute;
    bottom: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.3rem;
}

.carousel-dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
}